#footer {
  background-color: #81439a;
  color: white;
  padding: 8rem 0;
}
#footer h2, #footer p {
  text-align: center;
}
@media (max-width: 768px) {
  #footer h2, #footer p {
    padding-top: 5.5rem;
  }
}
#footer h2 {
  line-height: 2rem;
  overflow: visible;
  font-family: nexa1;
}
#footer p {
  font-family: roboto1;
}
#footer .socialIcons {
  padding-top: 3rem;
  text-align: center;
}
#footer .socialIcons .redesBri img {
  width: 50%;
}
@media (max-width: 768px) {
  #footer .socialIcons .redesBri img {
    width: 30%;
  }
}
#footer .socialIcons .redesBri2 img {
  width: 50%;
}
@media (max-width: 768px) {
  #footer .socialIcons .redesBri2 img {
    width: 30%;
  }
}

#equipo h2 {
  color: #81439a;
  line-height: 2rem;
  overflow: visible;
  font-family: nexa1;
}
@media (min-width: 768px) {
  #equipo {
    padding-top: -2rem;
    padding-bottom: 5rem;
  }
}
@media (max-width: 768px) {
  #equipo {
    padding-top: -2rem;
    padding-bottom: 5rem;
  }
}

.imagen-team {
  width: 50%;
  border-radius: 50%;
}

.myFlexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 3rem;
}

.subtittle {
  padding: 0 !important;
  color: black;
  font-family: roboto1;
}
.subtittle:hover {
  text-decoration: none;
  color: #81439a;
  font-weight: bold;
}

.teamBri {
  margin: 2rem;
  text-align: center;
  font-family: roboto1;
}

.team2 {
  font-family: roboto1;
}

.copyright {
  display: flex;
  justify-content: center;
  font-family: roboto1;
}

.headerPadre nav img {
  width: 14rem;
}
@media (max-width: 576px) {
  .headerPadre nav img {
    width: 10rem;
  }
}
.headerPadre .container-nav {
  display: flex !important;
  justify-content: center !important;
}

.navbar-light {
  z-index: 1000;
  position: fixed;
  background-color: #fff;
  width: 100%;
}

.navbar-expand-md .navbar-collapse {
  justify-content: flex-end;
}
@media (max-width: 576px) {
  .navbar-expand-md .navbar-collapse {
    font-size: 1rem;
  }
}
.navbar-expand-md .navbar-collapse li {
  padding: 0 1rem;
}

.headerBri {
  margin: 100px 80px;
  line-height: 2rem;
}
.headerBri h1 {
  font-size: 1.2rem;
  overflow: visible;
  font-family: nexa1;
  padding: 2rem 0rem;
}
@media (max-width: 768px) {
  .headerBri h1 {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .headerBri {
    margin: 5rem 0 0 0;
    text-align: center;
  }
}
.headerBri .separte {
  font-style: normal;
  color: #F9B418;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.5rem;
  overflow: visible;
}
@font-face {
  .headerBri .separte {
    font-family: nexa1;
    src: url(/tipografia/NexaBold.woff);
  }
}
.headerBri .briPro {
  font-style: normal;
  color: #81439A;
  font-weight: 300;
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 2.5rem;
  overflow: visible;
}
@font-face {
  .headerBri .briPro {
    font-family: nexa1;
    src: url(/tipografia/NexaBold.woff);
  }
}
.headerBri .conoceBri {
  color: #4F4F4F;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: roboto1;
}
@media (max-width: 768px) {
  .headerBri .conoceBri {
    width: auto;
    margin: 0 2rem;
    text-align: center;
  }
}
.headerBri .imgBri2 {
  padding: 0;
  margin: 2rem;
}

#inicioBri {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}
@media (max-width: 768px) {
  #inicioBri {
    margin-top: 0rem;
  }
}
#inicioBri img {
  width: 90%;
}
@media (max-width: 768px) {
  #inicioBri img {
    display: block;
    margin: auto;
  }
}
#inicioBri button {
  background-color: #81439A;
  color: #fff;
  margin: 2rem 0;
  padding: 0.5rem 1rem;
  border: #81439A;
  font-family: roboto1;
}
#inicioBri button:hover {
  filter: opacity(0.8);
}

.navEnlace {
  font-family: roboto1;
}
.navEnlace:hover {
  border-bottom: 2px solid #81439A;
  font-weight: bolder;
  color: #81439A;
}
@media (max-width: 768px) {
  .navEnlace:hover {
    color: #81439A;
    border-bottom: none;
  }
}

@media (min-width: 768px) {
  #programa {
    padding-top: 5rem;
  }
}

.programaBri {
  padding: 4.5rem 3rem 3rem 3rem;
  text-align: center;
}
.programaBri h2 {
  color: #81439A;
  text-transform: uppercase;
  text-align: center;
  line-height: 2.5rem;
  overflow: visible;
  font-family: nexa1;
}
.programaBri p {
  color: black;
  font-family: roboto1;
  text-align: center;
}
@media (min-width: 992px) {
  .programaBri p {
    margin: 4rem 14rem 2rem 14rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .programaBri p {
    margin: 0rem 1rem;
  }
}
@media (max-width: 768px) {
  .programaBri p {
    margin-top: 3rem;
  }
}

.caracteristicaBri p {
  color: black;
  text-align: center;
  font-family: roboto1;
}
.caracteristicaBri img {
  display: flex;
}
@media (min-width: 768px) {
  .caracteristicaBri img {
    width: 40%;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .caracteristicaBri img {
    width: 15%;
    align-self: center;
  }
}
.caracteristicaBri .cursosBri .progTitle {
  font-weight: bold;
}
@media (max-width: 768px) {
  .caracteristicaBri .cursosBri {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.mundosTittle {
  text-transform: uppercase;
  text-align: center;
  color: #81439A;
  padding: 4rem;
  font-family: nexa1;
}

.mundos {
  color: #ffffff;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.mundos h4 {
  color: #81439A;
}

.creativo {
  height: 45vh;
  background-color: #EE7724;
}
.creativo h5 {
  line-height: 2rem;
  overflow: visible;
}

.bravo {
  height: 45vh;
  background-color: #E4252B;
}
.bravo h5 {
  line-height: 2rem;
  overflow: visible;
}

.onda {
  height: 45vh;
  background-color: #F9B418;
}
.onda h5 {
  line-height: 2rem;
  overflow: visible;
}

.descr {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0.5rem;
  font-family: roboto1;
}
.descr img {
  width: 30%;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .descr {
    margin: 2rem;
  }
}

.container-m {
  width: 100% !important;
}
.container-m .calendarBri {
  color: #81439A;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: bold;
}
.container-m .calendarBri .textoCursos {
  font-size: 1.2rem;
  color: black;
  font-family: roboto1;
}
.container-m .calendarBri .btn-cursos {
  background-color: #ECF719;
  font-size: 1rem;
  margin: 2rem 0;
  padding: 0.5rem 1rem;
  color: #000;
  font-family: roboto1;
  border: none;
}
.container-m .calendarBri .btn-cursos:hover {
  transform: scale(1.02);
  transition: all 1s;
}
@media (max-width: 768px) {
  .container-m .calendarBri .btn-cursos {
    margin: 0 2rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}
.container-m .grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}
.container-m .grid-container .super-grid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  background-color: #FAFAFA;
  color: #81439A;
  margin: 0.3rem;
  padding-top: 1rem;
  max-width: 18rem;
  min-height: 12rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  text-align: left;
  box-shadow: 4px 4px #f1f1f1;
  font-family: roboto1;
}
@media (min-width: 1400px) {
  .grid {
    min-width: 20%;
  }
}
.grid li {
  color: #7C7C7C;
}

.pagoTittle {
  line-height: 2.5rem;
  overflow: visible;
  font-family: nexa1;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #81439A;
}

.btn-pagos {
  background-color: #ECF719;
  color: black;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-family: roboto1;
  border: none;
}
.btn-pagos:hover {
  transform: scale(1.02);
  transition: all 1s;
}
@media (max-width: 768px) {
  .btn-pagos {
    padding: 0.5rem;
  }
}

.pagos {
  color: #ffffff;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 6rem;
}
.pagos .dinero {
  font-size: 2rem;
  font-weight: bold;
}

.descr1 {
  display: flex;
  background-color: #81439A;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0.5rem;
  font-family: roboto1;
}
@media (max-width: 576px) {
  .descr1 {
    margin: 2rem;
  }
}

.somosBriLogo {
  margin: 0 auto;
  text-align: center;
}
.somosBriLogo img {
  width: 55%;
}
@media (max-width: 768px) {
  .somosBriLogo img {
    width: 100%;
  }
}

#quienes {
  background-color: #81439a;
}
@media (min-width: 768px) {
  #quienes {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
@media (max-width: 768px) {
  #quienes {
    padding-top: 5rem;
  }
}
#quienes h2,
#quienes .somos {
  color: #ffffff;
}
#quienes h2 {
  text-align: center;
  padding: 1rem;
  font-family: nexa1;
}
#quienes .somos {
  font-size: 1rem;
  text-align: center;
  font-family: roboto1;
}
@media (min-width: 992px) {
  #quienes .somos {
    margin: 1rem 10rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #quienes .somos {
    margin: 0 1rem;
  }
}

.cadamesBri {
  color: #f9b418;
  margin-top: 1rem;
  font-size: 1.1rem;
  text-align: center;
  font-family: roboto1;
}

#testimonios {
  background-color: #81439a;
  color: white;
}
@media (min-width: 768px) {
  #testimonios {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
  }
}
@media (max-width: 768px) {
  #testimonios {
    padding-top: 5.5rem;
  }
}
#testimonios h2 {
  line-height: 2.5rem;
  overflow: visible;
  font-family: nexa1;
}
#testimonios h2, #testimonios p {
  display: flex;
  justify-content: center;
  text-align: center;
}
#testimonios .testBri {
  min-height: 10rem;
  max-width: 30rem;
}

.card {
  border: 2px solid #ffffff;
  background-color: #81439a;
}

.subtittle {
  padding: 2rem;
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .subtittle {
    padding: 0.5rem;
  }
}

@media (max-width: 768px) {
  .slidesBri {
    display: none;
  }
}

@media (min-width: 768px) {
  .slidesBri2 {
    display: none;
  }
}

.experience {
  text-transform: uppercase;
  text-align: center;
  color: #81439A;
  padding: 4rem;
  font-family: nexa1;
}

.subtittle2 {
  color: #ffffff;
  margin: 2rem;
  font-family: roboto1;
}

/* WHATSAPP */
.image-wpp img {
  width: 3rem;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.image-wpp img:hover {
  transform: scale(1.1);
  transition: all 1s;
}

#carousel .carousel-item {
  height: 50vh;
  width: 100%;
  min-height: 10rem;
  background: no-repeat center center scroll;
  background-size: cover;
}

#carousel .carousel-inner .carousel-item {
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}

#carousel .carousel-item .caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  color: white;
  animation-duration: 1s;
  animation-delay: 2s;
}

#carousel .caption h2 {
  animation-duration: 1s;
  animation-delay: 2s;
}

#carousel .caption p {
  animation-duration: 1s;
  animation-delay: 2.2s;
}

#carousel .caption a {
  animation-duration: 1s;
  animation-delay: 2.4s;
}

@font-face {
  font-family: nexa1;
  src: url("/tipografia/NexaBold.woff");
}
@font-face {
  font-family: roboto1;
  src: url("/tipografia/roboto/Roboto-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-size: 16px;
  overflow-x: hidden;
}
@media (max-width: 576px) {
  body {
    font-size: 14px;
    overflow-x: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
